<mat-card class="reset-password-card">
  <form class="reset-password-form">
    <table cellspacing="0" cellpadding="4" class="full-width">
      <tr>
        <td>
          <mat-form-field class="input-field">
            <input type="password" matInput
                   placeholder="Enter New Password"
                   [type]="hidePassword ? 'password' : 'text'"
                   name="password"
                   [(ngModel)]="resetPasswordData.password">
            <mat-icon matSuffix class="material-icons" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="input-field">
            <input type="password" matInput
                   placeholder="Confirm New Password"
                   [type]="hideConfirmedPassword ? 'password' : 'text'"
                   name="confirmedPassword"
                   [(ngModel)]="resetPasswordData.confirmedPassword">
            <mat-icon matSuffix class="material-icons" (click)="hideConfirmedPassword = !hideConfirmedPassword">{{hideConfirmedPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
  <mat-card-actions>
    <button (click)="finish()"
            mat-button>Cancel</button>
    <button [disabled]="resetPasswordData.password.length === 0 || resetPasswordData.password !== resetPasswordData.confirmedPassword"
            mat-raised-button
            (click)="onResetPassword()"
            color="primary">Set New Password</button>
  </mat-card-actions>
</mat-card>
