table {
  vertical-align: text-bottom;
}

td {
  padding-right: 6px;
}

button.create {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

mat-card {
  width: 650px;
}

mat-card-header {
  font-size: 20px;
}

mat-card-actions {
  margin-right: 10px;
}

.send-email-checkbox, .perform-action-checkbox, .monitor-checkbox, .safe-mode-checkbox {
  margin-top: 10px;
  padding-right: 20px;
}

.safe-mode-checkbox span {
  position: relative;
  bottom: 3px;
}

.safe-mode-checkbox mat-icon {
  position: relative;
  bottom: -3px;
  color: indianred;
}

mat-checkbox {
  font-size: 14px;
}

.rule-form-container {
  margin-top: 20px;
}

.active-rules-badge {
  border-radius: 15px;
  background-color: #f0f0f0;
  font-size: 12px;
  height: 24px;
  line-height: 2;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 8px;
}
