<div class="example-container mat-elevation-z4" style="max-width: 1200px">

  <div class="filter-header">
    <mat-form-field floatPlaceholder="never">
      <input #filter
             matInput
             [ngModel]="_filterChange.value"
             (ngModelChange)="onFilterChange($event)"
             placeholder="Filter Credentials">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="this" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Account </mat-header-cell>
      <mat-cell *matCellDef="let credential"> {{credential.name}} </mat-cell>
    </ng-container>

    <!-- Creation Date Column -->
    <ng-container matColumnDef="credentialCreationDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Created </mat-header-cell>
      <mat-cell *matCellDef="let credential"> {{credential.credentialCreationDate  | date: 'yyyy-MM-dd HH:mm a Z'}} </mat-cell>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell  *matCellDef="let credential">
        <button mat-icon-button (click)="deleteCredential(credential)">
          <mat-icon class="material-icons">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
