<form autocomplete="off">
  <h3>Add Google Ads Credentials</h3>
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td colspan="2">
        <mat-form-field>
          <input matInput
                 [(ngModel)]="credential.name"
                 type="text"
                 placeholder="Name"
                 name="name">
        </mat-form-field>
      </td>
      <td colspan="2">
        <mat-form-field>
          <input matInput
                 type="text"
                 [(ngModel)]="credential.credential.developer_token"
                 placeholder="Developer Token"
                 name="developer_token">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <mat-form-field>
          <input matInput
                 type="text"
                 [(ngModel)]="credential.credential.client_id"
                 placeholder="Client ID"
                 name="client_id">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <mat-form-field>
          <input matInput
                 type="text"
                 [(ngModel)]="credential.credential.client_secret"
                 placeholder="Client Secret"
                 name="client_secret">
        </mat-form-field>
      </td>
      <td colspan="2">
        <mat-form-field>
          <input matInput
                 type="text"
                 [(ngModel)]="credential.credential.refresh_token"
                 placeholder="Refresh Token"
                 name="refresh_token">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input matInput
                 [(ngModel)]="credential.credential.login_customer_id"
                 placeholder="Login Customer ID"
                 name="login_customer_id">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput
                 [(ngModel)]="credential.credential.customer_id"
                 placeholder="Customer ID"
                 name="customer_id">
        </mat-form-field>
      </td>
      <td class="upload">
        <button mat-fab
                [disabled]="!(credential.name.length && credential.credential.developer_token && credential.credential.client_id && credential.credential.client_secret && credential.credential.refresh_token && credential.credential.login_customer_id && credential.credential.customer_id)"
                (click)="onUploadCredential()"
                color="primary">
          <mat-icon class="material-icons">file_upload</mat-icon>
        </button>
      </td>
      <td></td>
    </tr>
  </table>
</form>
