h3 {
  text-align: left;
  margin-top: 0;
}

table td {
  padding: 6px;
  min-width: 290px;
  max-width: 1200px;
}

table td.upload {
  text-align: left;
}

table td mat-form-field {
  width: 100%;
}
