<form>
  <h3>Add Adjust Credentials</h3>
  <table class="credential-form-container" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <mat-form-field>
          <input matInput
                 [(ngModel)]="credential.name"
                 type="text"
                 placeholder="Name"
                 name="credentialName">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput
                 [(ngModel)]="credential.userToken"
                 type="text"
                 placeholder="User Token"
                 name="userToken">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput
                 [(ngModel)]="credential.appToken"
                 type="text"
                 placeholder="App Token"
                 name="appToken">
        </mat-form-field>
      </td>
      <td>
        <button mat-fab
                [disabled]="!(credential.name.length && credential.userToken && credential.appToken)"
                (click)="onUploadCredential()"
                color="primary">
          <mat-icon class="material-icons">file_upload</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</form>
